<!DOCTYPE html>
<html>
  <head>
    <title><%=title%></title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.47.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.47.0/mapbox-gl.css' rel='stylesheet' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/post-show.css' />
    <link rel='stylesheet' href='/stylesheets/starability-basic-min.css' />
    <script
			  src="https://code.jquery.com/jquery-3.4.0.min.js"
			  integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
			  crossorigin="anonymous"></script>
  </head>
  <body>
    <% include ../partials/navbar %>
    <%- body -%>
    <script>
        let post = <%-JSON.stringify(post)%>;
        let mapbox_key = '<%-MAPBOX_API_KEY%>';
    </script>
    <script src='/javascripts/post-show.js'></script>
  </body>
</html>